{{!< layouts/main}} <div class="container-home">
    <h1>Bienvenidos</h1>

    <img src="https://res.cloudinary.com/du287bapb/image/upload/v1710948514/proyectoBack/logo-resized.png"
        alt="logo empresa" class="logo">
    <p><button><a href="/login">Iniciar sesion</a></button></p>
    <p><button><a href="/singup">Registrarse</a></button></p>
    </div>