<h1>Bienvenido, {{user.first_name}} {{user.last_name}}</h1>

<p>Edad: {{user.age}}</p>
<p>Email: {{user.email}}</p>
<p><a href="/products.html">Ir a los productos</a></p>

<a href="/logout">Logout</a>